// COLORS
$bg-primary-button: #4F2AC3;
$bg-first-gradient: #186CA7;
$bg-second-gradient: #442BDB;
$bg-third-gradient: #89223B;
$bg-fourth-gradient: #9C791D;

$primary-text: #fff;
$secondary-text: #000