@use '../config/_variables' as *;
@use '../config/_mixins' as *;

// FONTS
@font-face {
    font-family: Avenir;
    src: url(../../../assets/fonts/Avenir-Regular.woff2);
    font-weight: 400;
}

@font-face {
    font-family: Avenir;
    src: url(../../../assets/fonts/Avenir-Bold.woff2);
    font-weight: 700;
}

// CLASSES

.text--big {
    @include text($text-lg);
}

.text--medium {
    @include text;
}

.text--small {
    @include text($text-sm);
}

.title--big {
    @include title($title-lg);
}

.title--medium {
    @include title($title-md);
}

.title--small {
    @include title;
}

.link-text {
    @include text($text-lg);
    color: $text-secondary;
    text-decoration: underline;
}