/* VARIÁVEIS */
:root {
    /* TEXTO */
    --branco-texto: rgba(255, 255, 255, 0.8);

    /* OVERLAYS */
    --overlay-claro: rgba(255, 255, 255, 0.6);
    --overlay-claro-medio: rgba(255, 255, 255, 0.5);
    --overlay-claro-leve: rgba(255, 255, 255, 0.2);
    --overlay-escuro: rgba(0, 0, 0, 0.6);
    --overlay-medio: rgba(0, 0, 0, 0.5);
    --overlay-leve: rgba(0, 0, 0, 0.2);

    /*BOX-SHADOW GLOW */
    --box-glow-branco: 0 0 7px #fff,
        0 0 10px #fff,
        0 0 21px #fff;
    --box-glow-preto: 0 0 7px #000,
        0 0 10px #000,
        0 0 21px #000,
        0 0 40px #000,
        0 0 90px #000;

    /* FILTER GLOW */
    --filter-glow-branco-1: 0 0 1px rgba(255, 255, 255);
    --filter-glow-branco-2: 0 0 6px rgba(255, 255, 255);
}

/* RESET */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* BASE / GLOBAL */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.5)), url(./imagens/background.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

main {
    flex: 1;
}

/* HEADER */
header {
    background-color: var(--overlay-escuro);
}

/* HEADER-LOGO */
#logo-genshin {
    width: 150px;
}

/* TABS - CONTEÚDO */
.tab-pane h5 {
    color: var(--branco-texto);
}

/* NAVS */
.navbar-nav .nav-link:hover,
.navbar-nav .nav-link.active,
.nav-tabs .nav-link:not(.active):hover {
    color: white;
    text-shadow: var(--box-glow-branco);
    border: none;
}

.nav-tabs .nav-link.active:hover,
.nav-pills .nav-link.active:hover,
.nav-pills .nav-link.active {
    background-color: white;
    color: white;
    text-shadow: var(--glow-preto);
}

.navbar .nav-link,
.nav-pills .nav-link {
    color: var(--branco-texto);
}

.navbar-nav .nav-link.active:hover,
.navbar-nav .nav-link:hover {
    border-top: 2px solid white;
}

.navbar-nav .nav-link.active {
    border-bottom: 2px solid white;
}

.navbar-toggler-icon {
    filter: invert(1);
}

.nav-tabs .nav-link {
    background-color: var(--overlay-claro-medio);
    color: black;
    border: none;
}

.nav-pills .nav-link:not(.active):hover {
    background-color: var(--overlay-claro-medio);
    color: white;
    text-shadow: var(--box-glow-branco);
}

/* CARROSSEL */
.carousel {
    border-radius: 12px;
    overflow: hidden;
}

.carousel-inner {
    border-radius: 12px;
    overflow: hidden;
}

.carousel-item {
    height: 30vh;
}

.carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* CARDS */
.cards-scroll {
    max-height: 70vh;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 1rem;
}

.cards-scroll::-webkit-scrollbar {
    width: 8px;
}

.cards-scroll::-webkit-scrollbar-track {
    background: var(--overlay-claro-leve);
    border-radius: 10px;
}

.cards-scroll::-webkit-scrollbar-thumb {
    background: var(--overlay-claro-medio);
    border-radius: 10px;
}

.cards-scroll::-webkit-scrollbar-thumb:hover {
    background: var(--branco-texto);
    cursor: pointer;
}

#card-about,
.card-teaser {
    background-color: var(--overlay-escuro);
    color: var(--branco-texto);
    backdrop-filter: blur(4px);
    line-height: 2.0;
}

.card-personagens {
    background-color: var(--overlay-leve);
    backdrop-filter: blur(4px);
    color: var(--branco-texto);
    overflow: hidden;
    border: none;
}

.card-personagens img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    object-position: top center;
}

.card-personagens .card-footer {
    background-color: var(--overlay-medio);
}

.card-header-flex {
    min-height: 120px;
    display: flex;
    align-items: center;
}

.card-header h2 {
    line-height: 1.3;
}

/* PADRONIZAR NOMES NOS CARDS */
.nome-fixo {
    min-height: 3.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1.2;
    overflow: hidden;
}

/* ORNAMENTO */
.ornamento-genshin {
    text-align: center;
    margin: 28px 0;
    position: relative;
    font-size: 22px;
    color: white;
    opacity: 0.9;
    letter-spacing: 2px;
}

.ornamento-genshin::before,
.ornamento-genshin::after {
    content: "";
    height: 1px;
    width: 38%;
    background: linear-gradient(to right, transparent, #fff, transparent);
    position: absolute;
    top: 50%;
}

.ornamento-genshin::before {
    left: 0;
}

.ornamento-genshin::after {
    right: 0;
}

/* FOOTER */
footer {
    padding: 4px;
    background-color: black;
    color: var(--branco-texto);
}

#link-github a{
    display: inline-block;
    color: var(--branco-texto);
    filter: drop-shadow(var(--filter-glow-branco-1)) drop-shadow(var(--filter-glow-branco-2));
    text-decoration: none;
}

#github-logo {
    width: 35px;
    filter: invert(100%) drop-shadow(var(--filter-glow-branco-1)) drop-shadow(var(--filter-glow-branco-2));
}

/* DESKTOP */
@media (min-width: 992px) {

    /* TIPOGRAFIA */
    .nav-link {
        font-size: 1.15rem;
    }

    .tab-pane h5 {
        font-size: 1.5rem;
    }

    .btn,
    p {
        font-size: 1.05rem;
    }

    /* LOGO */
    #logo-genshin {
        width: 220px;
        max-width: none;
    }

    /* CARROSSEL */
    .carousel-item {
        height: 70vh;
    }

    /* FOOTER */
    footer {
        padding: 8px;
    }

    #link-github a{
        filter: none;
    }

    #link-github a:hover {
        color: var(--branco-texto);
        transform: translateY(-2px);
        text-shadow: var(--box-glow-branco);
    }

    #github-logo {
        filter: invert(100%);
    }

    #github-logo:hover {
        cursor: pointer;
        transform: translateY(-2px);
        filter:invert(100%) drop-shadow(var(--filter-glow-branco-1)) drop-shadow(var(--filter-glow-branco-2));
    }
}