* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(rgba(0,0,0,1),rgba(0,0,0,0.5)), url(./imagens/background.jpg);
    background-size: cover;
    background-position: center;
}

header {
    background-color: rgba(0,0,0,0.6);
}

#logo-genshin {
    width: 150px;
}

.nav-link {
    color:white;
}

.navbar-nav .nav-link:hover,
.navbar-nav .nav-link.active {
    color: grey;
}

.navbar-toggler-icon {
    filter: invert(1);
}

main {
    flex: 1;
}

.carousel {
    border-radius: 12px;
    overflow: hidden;
}

.carousel-inner {
    border-radius: 12px;
    overflow: hidden;
}

.carousel-item {
    height: 30vh;
}

.carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.nav-tabs .nav-link {
    background-color: rgba(255,255,255,0.5);
    color: black;
}

.tab-pane{
    color: white;
}

footer {
    background-color: rgba(0,0,0,0.6);
    color: white;
}