* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center; 
    align-items: center;     
    background-image: url(./imgs/carroaudif1-background.jpg);
    background-size: cover;
    background-position: center;
    backdrop-filter: blur(4px);
}


.conteudo-principal {
    width: 600px;
    max-width: 90%;
    display: flex;
    flex-direction: column;
    background-color: rgba(0,0,0,0.8);
    border-radius: 20px;
    padding: 50px;
}

.titulo-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
}

.titulo-menu h1{
    font-size: 24px;
    color: lightgrey;
}

#audi-logo {
    width: 150px;
    margin-bottom: 10px;
}

.form-label,
.form-check-label, 
.h5 {
    color: #e0e0e0;
}

.form-control {
    background-color: #2c2c2c; 
    border: 1px solid #444;
    color: #fff; 
}

.form-control:focus {
    background-color: #2c2c2c;
    color: #fff;
    border-color: #cc0000; 
    box-shadow: 0 0 0 0.25rem rgba(204, 0, 0, 0.25);
}

form input{
    margin-bottom: 20px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px #2c2c2c inset !important;
    -webkit-text-fill-color: white !important;
}

#aceito-termos{
    cursor: pointer;
}

.btn-enviar {
    margin-top: 20px;
    background-color: rgba(200,0,0);
    color: lightgrey;
    transition: all 0.5s;
    text-transform: uppercase;
    box-shadow: 0 0 10px 0.25rem rgba(200, 0, 0, 0.25);
}

.btn-enviar:hover {
    background-color: rgba(150,0,0);
    color: lightgrey;
    transform: translateY(-5px);
}

