*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #111827;
    font-family: "Inter", sans-serif;
    font-weight: 400;
}


.inter-uniquifier{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

body{
    background-color: #F9FAFB;
}

header{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px 0;
}

h1{
    font-size: 64px;
    font-weight: 700;
}

#icone{
    height: auto;
    width: 50px;
    margin-right: 16px;
}

form{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 24px 0;
}

input{
    background-color: #FFFFFF;
}

input:placeholder{
    color: #6B7280;
}

form button{
    margin-left: 16px;
    font-weight: 600;
    background-color: #3B82F6;
    color: #fff;
}

input, button{
    padding: 8px;
    border-radius: 20px;
}

button:hover{
    background-color: #2563EB;
    cursor: pointer;
}

ul{
    width: 300px;
    margin: 0 auto;
    text-align: left;
    border: black solid 1px;
    border-radius: 10px;
    padding: 10px;
    display: none;
    list-style: none;
}

li{
    display: flex;
    align-items: center;
    margin: 10px 0 10px 0;
    cursor: pointer;
    padding: 15px;
}

/* mudar cor do fundo do texto linha sim linha nao */
ul li:nth-child(odd) {
    background-color: #f2f2f2; /* linhas ímpares */
}


ul li:nth-child(even) {
    background-color: #e6f0ff; /* linhas pares */
}

.tarefa::before {
    content: "◻️";
    margin-right: 8px;
}

ul button{
    margin-left: auto;
    border-radius: 5px;
    border: none;
    justify-content: space-between;
    background-color: #E74C3C;
}

ul button:hover{
    background-color: #EC7063;
}

ul button:active{
    background-color: #C0392B;
}

.tarefa.concluida{
    text-decoration: line-through;
    color: gray;
}

.ui-state-highlight {
    height: 60px !important; 
    background-color: #f0f0f0 !important; 
    border: 2px dashed #ccc !important;
    margin-bottom: 5px !important;
}

