// COLORS
$bg-color: #040714;
$bg-primary-button: #6421ff;
$text-primary: silver;
$text-secondary: #f9f9f9;

// TYPOGRAPHY - TEXT
$text-sm: 12px;
$text-md: 16px;
$text-lg: 18px;

// TYPOGRAPHY - TITLE
$title-sm: 28px;
$title-md: 40px;
$title-lg: 44px;