// COLORS
$bg-color: #040714;
$bg-primary-button: #6421ff;
$bg-secondary-button: #0063e5;
$bg-dark-button: rgba(0, 0, 0, .8);
$bg-faq-item: #1e1f24;
$text-primary: silver;
$text-secondary: #f9f9f9;

// TYPOGRAPHY - TEXT
$text-sm: 12px;
$text-md: 16px;
$text-lg: 18px;

// TYPOGRAPHY - TITLE
$title-sm: 28px;
$title-md: 40px;
$title-lg: 44px;

// BREAKPOINTS
$tablet: 768px;
$desktop: 1024px;