// COLORS
$primary-color: #D98089;
$secondary-color: #2A54A3;
$neutral-light: #F8F9FA;
$neutral-dark: #3F4348;
$highlight-color: #EABAC1;

// TYPOGRAPHY - TEXTS
$text-sm: 12px;
$text-md: 16px;
$text-lg: 18px;

// TYPOGRAPHY - TITLES
$title-sm: 20px;
$title-md: 26px;
$title-lg: 40px;

// BREAKPOINTS
$tablet: 768px;
$desktop: 1024px;